// Variables
// --------------------------

@font-face {
    font-family: "SFProDisplay-Black";
    src: url("../fonts/SFProDisplay-Black/SFProDisplay-Black.eot");
    src: url("../fonts/SFProDisplay-Black/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/SFProDisplay-Black/SFProDisplay-Black.woff2") format("woff2"), 
        url("../fonts/SFProDisplay-Black/SFProDisplay-Black.woff") format("woff"),
        url("../fonts/SFProDisplay-Black/SFProDisplay-Black.ttf") format("truetype"), 
        url("../fonts/SFProDisplay-Black/SFProDisplay-Black.svg#SFProDisplay-Black") format("svg");
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay-BlackItalic";
    src: url("../fonts/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.eot");
    src: url("../fonts/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.woff2") format("woff2"), 
        url("../fonts/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.woff") format("woff"),
        url("../fonts/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.ttf") format("truetype"), 
        url("../fonts/SFProDisplay-BlackItalic/SFProDisplay-BlackItalic.svg#SFProDisplay-BlackItalic") format("svg");
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay-Bold";
    src: url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot");
    src: url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff2") format("woff2"), 
        url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff") format("woff"),
        url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf") format("truetype"), 
        url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.svg#SFProDisplay-Bold") format("svg");
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay-Semibold";
    src: url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.eot");
    src: url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2") format("woff2"), 
        url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff") format("woff"),
        url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf") format("truetype"), 
        url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.svg#SFProDisplay-Semibold") format("svg");
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay-Medium";
    src: url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.eot");
    src: url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff2"), 
        url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff") format("woff"),
        url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf") format("truetype"), 
        url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.svg#SFProDisplay-Medium") format("svg");
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay-Regular";
    src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot");
    src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff2"), 
        url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff") format("woff"),
        url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("truetype"), 
        url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay-Light";
    src: url("../fonts/SFProDisplay-Light/SFProDisplay-Light.eot");
    src: url("../fonts/SFProDisplay-Light/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/SFProDisplay-Light/SFProDisplay-Light.woff2") format("woff2"), 
        url("../fonts/SFProDisplay-Light/SFProDisplay-Light.woff") format("woff"),
        url("../fonts/SFProDisplay-Light/SFProDisplay-Light.ttf") format("truetype"), 
        url("../fonts/SFProDisplay-Light/SFProDisplay-Light.svg#SFProDisplay-Light") format("svg");
    font-style: normal;
}

:root{
    --body-font-family: "SFProDisplay-Regular";
    --font-family-black: "SFProDisplay-Black";
    --font-family-blackitalic: "SFProDisplay-BlackItalic";
    --font-family-bold: "SFProDisplay-Bold";
    --font-family-semibold: "SFProDisplay-Semibold";
    --font-family-medium: "SFProDisplay-Medium";
    --font-family-light: "SFProDisplay-Light";
    --white:#ffffff;
    --black:#000000;
    --body-text-color: #161616;
    --theme-color:#C99E41;
    --theme-color-2:#08A3B0;
    --theme-light-color:#d5f5f7;
    --primary-color:#C99E41;
    --gray:#aaaaaa;
    --gray-dark:#838383;
    --gray-light:#E9EAEB;
    --gray-light-secondary:#F3F5F8;
    --light:#E5E6EF;
    --light-white:#F9F9F9;
    --light-white-2:#f5f5f5;
    --green:#4BB543;
    --danger:#ED4337;
    --danger-light: #F6E1DC;
    --warning:#f0ad02;
    --warning-light:#fff3cd;
    --success:#00bf71;
    --success-light: #E6F2E3;
    --success-hover:#13db89;
    --info:#1890ff;
    --orange:#FCA05E;
    --orange-light:#FFF1E7;
    --pending:#EB7A61;
    --pending-light:#EB7A61;
    --yellow:#F4B30B;
    --disabled:#C4C4C4;
    --blue-light:#cedffe;
    --blue-2:#479FD7;
    --blue-hover-2:#5796e9;
    --dark-blue-gray: #62839d;
    --scroll-track : #e0e6f0;
    --scroll-thumb: #b4bbcb;
}


